
<h1>{{title}}</h1>
<h2>My Worklogs</h2>
<ul class="worklogs">
  <li *ngFor="#worklog of worklogs"
      [class.selected]="worklog === selectedWorklog"
      (click)="onSelect(worklog)">
    <span class="badge">{{worklog.key}}</span> {{worklog.description}}
  </li>
</ul>
<div *ngIf="selectedWorklog">
  <h4>
    Logged at {{selectedWorklog.date}}
  </h4>
  <button (click)="gotoDetails()">View Details</button>
</div>
<!--
New Worklog:
<input #newWorklog />
<button (click)="addWorklog(newWorklog.value); newWorklog.value=''">
  Add Worklog
</button>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
-->
