
<h1>{{title}}</h1>

<md-card style="width: 60%" class="demo-card demo-basic">
  <md-toolbar color="primary">Date Criteria</md-toolbar>
  <md-card-content>
    <!-- <form> -->
    <!-- <table style="width: 100%" cellspacing="0"><tr> -->
    <table style="width: 100%">
      <tr>
        <td><md-input placeholder="From" style="width: 100%"
          [(ngModel)]="reportParams.fromDate">
          <md-hint align="end">Date ('yyyy-MM-dd')</md-hint>
        </md-input></td>
        <td><md-input placeholder="To" style="width: 100%"
          [(ngModel)]="reportParams.toDate">
          <md-hint align="end">Date ('yyyy-MM-dd')</md-hint>
        </md-input></td>
    </tr>
    </table>
  </md-card-content>
</md-card>

<span>
  <span class="fill-remaining-space"></span>
  <button style="margin-top: 2em; margin-right: 2em" md-raised-button color="primary" (click)="retrieveWorklogs()">Retrieve Worklogs</button>
</span>

<h2>Matching Worklogs</h2>
<div [ngSwitch]="isLoading">
  <md-progress-bar mode="indeterminate" *ngSwitchWhen="true"></md-progress-bar>
</div>

<ul class="worklogs" style="width: 70%">

  <li *ngFor="#worklog of worklogs"
      [class.selected]="worklog === selectedWorklog"
      (click)="onSelect(worklog)">
    <!-- <span class="date">{{worklog.date | date}}</span> -->
    <span class="date">{{worklog.date | myDateWorkaround}}</span>
    <span class="desc">{{worklog.description}}</span>
    <span class="duration">{{worklog.durationInJira}}</span>
    <button md-icon-button color="primary" (click)="updateCats(worklog)" [disabled]="isSynchronized(worklog)"> <!---->
      <i class="material-icons md-24">arrow_forward</i>
    </button>
    <span class="fixed-spacer"></span>

    <span [ngSwitch]="worklog.durationInJira != worklog.durationInCats">
      <button md-icon-button *ngSwitchWhen=true disabled style="color:red"> <!---->
        <i class="material-icons md-24">close</i>
      </button>
      <button md-icon-button *ngSwitchWhen=false disabled style="color:green"> <!---->
        <i class="material-icons md-24">check</i>
      </button>
    </span>

    <span class="fixed-spacer"></span>
    <button md-icon-button color="primary" (click)="updateJira(worklog)" [disabled]="isSynchronized(worklog)"> <!---->
      <i class="material-icons md-24">arrow_back</i>
    </button>
    <span class="duration">{{worklog.durationInCats}}</span>
  </li>
</ul>
<div *ngIf="selectedWorklog">
  <h4>
    Logged at {{selectedWorklog.date}}
  </h4>
  <button (click)="gotoDetails()">View Details</button>
</div>
<!--
New Worklog:
<input #newWorklog />
<button (click)="addWorklog(newWorklog.value); newWorklog.value=''">
  Add Worklog
</button>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
-->
