
<h1>{{title}}</h1>
<h2>Matching Worklogs</h2>
<ul class="worklogs">
  <li *ngFor="#worklog of worklogs"
      [class.selected]="worklog === selectedWorklog"
      (click)="onSelect(worklog)">
    <!-- <span class="date">{{worklog.date | date}}</span> -->
    <span class="date">{{worklog.date | myDateWorkaround}}</span>
    <span class="desc">{{worklog.description}}</span>
    <span class="duration">{{worklog.durationInJira}}</span>
    <span class="fixed-spacer"></span>
    <span class="duration">{{worklog.durationInCats}}</span>
  </li>
</ul>
<div *ngIf="selectedWorklog">
  <h4>
    Logged at {{selectedWorklog.date}}
  </h4>
  <button (click)="gotoDetails()">View Details</button>
</div>
<!--
New Worklog:
<input #newWorklog />
<button (click)="addWorklog(newWorklog.value); newWorklog.value=''">
  Add Worklog
</button>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
-->
