
<md-card style="width: 35em">
  <md-toolbar color="primary">Date Criteria</md-toolbar>
  <md-card-content>
    <!-- <form> -->
    <!-- <table style="width: 100%" cellspacing="0"><tr> -->
    <table style="width: 100%">
      <tr>
        <td><md-input placeholder="From" style="width: 100%"
          [(ngModel)]="reportParams.fromDate">
          <md-hint align="end">Date ('yyyy-MM-dd')</md-hint>
        </md-input></td>
        <td><md-input placeholder="To" style="width: 100%"
          [(ngModel)]="reportParams.toDate">
          <md-hint align="end">Date ('yyyy-MM-dd')</md-hint>
        </md-input></td>
    </tr>
    </table>
  </md-card-content>
</md-card>

<span>
  <span class="fill-remaining-space"></span>
  <button style="margin-top: 2em; margin-right: 2em" md-raised-button color="primary"
          (click)="retrieveWorklogs()">Retrieve Worklogs</button>
</span>

<h2>Matching Worklogs</h2>
<div [ngSwitch]="isLoading">
  <md-progress-bar mode="indeterminate" *ngSwitchWhen="true"></md-progress-bar>
</div>

<ul class="worklogs" style="width: 40em">

  <!-- this list item holds the header -->
  <li *ngIf="worklogs" class="header">
    <span class="date" style="visibility: hidden">0000-00-00</span>
    <span class="desc">Task/Ticket</span>
    <span class="duration">JIRA</span>
    <button md-icon-button style="visibility: hidden">
      <i class="material-icons md-24"></i>
    </button>
    <span class="fixed-spacer"></span>
    <md-icon class="md-24" style="visibility: hidden"></md-icon>
    <span class="fixed-spacer"></span>
    <button md-icon-button style="visibility: hidden">
      <i class="material-icons md-24"></i>
    </button>
    <span class="duration">CATS</span>
    <br>
  </li>

  <li *ngFor="let worklog of worklogs; let i = index"
      [class.selected]="worklog === selectedWorklog"
      (click)="onSelect(worklog)">
    <!-- <span class="date">{{worklog.date | date}}</span> -->
    <span class="date">{{worklog.date | myDateWorkaround}}</span>
    <span class="desc">{{worklog.description}}</span>
    <span class="duration">{{worklog.durationInJira}}</span>
    <button md-icon-button color="primary" (click)="updateCats(worklog)" [disabled]="isSynchronized(worklog)"> <!---->
      <i class="material-icons md-24">arrow_forward</i>
    </button>
    <span class="fixed-spacer"></span>

    <span [ngSwitch]="worklog.durationInJira != worklog.durationInCats">
      <md-icon *ngSwitchWhen=true style="color: red" class="md-24">error_outline</md-icon>
      <md-icon *ngSwitchWhen=false style="color: green" class="md-24">done</md-icon>
    </span>

    <span class="fixed-spacer"></span>
    <button md-icon-button color="primary" (click)="updateJira(worklog)" [disabled]="isSynchronized(worklog)"> <!---->
      <i class="material-icons md-24">arrow_back</i>
    </button>
    <span class="duration">{{worklog.durationInCats}}</span>
    <br>
    <!-- <md-card [style.display]="displayForCard(worklog)"> -->
    <!-- <md-card [style.display]="worklog === selectedWorklog ? 'inline' : 'none'"> -->
    <md-card *ngIf="worklogsPendingJiraComment[i]">
       <md-card-subtitle>Creating a Worklog in JIRA</md-card-subtitle>
       <md-card-title>Additional Details Required</md-card-title>
       <md-card-content>
            <md-input placeholder="Comment" [(ngModel)]="worklog.commentInJira" style="width: 100%"></md-input>
       </md-card-content>
       <md-card-actions>
            <button md-button (click)="updateJira(worklog)">SUBMIT</button>
            <button md-button (click)="worklogsPendingJiraComment[i] = false">CANCEL</button>
       </md-card-actions>
    </md-card>
    </li>
</ul>
<!-- <div *ngIf="selectedWorklog">
  <h4>
    Logged at {{selectedWorklog.date}}
  </h4>
  <button (click)="gotoDetails()">View Details</button>
</div> -->
<!--
New Worklog:
<input #newWorklog />
<button (click)="addWorklog(newWorklog.value); newWorklog.value=''">
  Add Worklog
</button>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
-->
