
.fill-remaining-space {
  flex: 1 1 auto;
}

.selected {
  background-color: #CFD8DC !important;
  color: #444;
}
.worklogs {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 40em;
}

.worklogs li {
  /*cursor: pointer;*/
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em 0 .5em .5em;
  padding: 0;
  /*height: 1.6em;*/
  border-radius: 4px;
}

.worklogs li.header {
    font-weight: bold;
    background-color: inherit;
}

.worklogs li.header:hover {
  color: inherit !important;
  background-color: inherit !important;
}

.worklogs li.selected:hover {
  background-color: #BBD8DC !important;
  color: #444;
}
.worklogs li:hover {
  color: #607D8B;
  background-color: #DDD;
  /*left: .1em;*/
}
.worklogs button:disabled {
  background-color: inherit;
}
.worklogs .text {
  position: relative;
  /*top: -3px;*/
}
.worklogs .date {
  vertical-align: baseline;
  display: inline-block;
  /*font-size: small;*/
  color: white;
  padding: 0.7em;
  background-color: #607D8B;
  /*line-height: 1em;*/
  position: relative;
  /*left: -1px;
  top: -4px;*/

  /*height: 1.8em;*/
  height: inherit;

  margin-right: .7em;
  border-radius: 4px 0 0 4px;
}

.worklogs .desc {
  vertical-align: baseline;
  display: inline-block;
  /*font-size: small;*/
  position: relative;
  margin-left: 3em;
  margin-right: 2em;
  width: 6em;
}

.worklogs .duration {
  vertical-align: baseline;
  display: inline-block;
  /*font-size: small;*/
  position: relative;
  margin-left: .7em;
  margin-right: .7em;
  width: 2em;
}

.worklogs .fixed-spacer {
  display: inline-block;
  position: relative;
  width: 2em;
}

.worklogs md-icon {
  vertical-align: middle;
}
