
<md-card class="demo-card demo-basic">
  <md-toolbar color="primary">Date Criteria</md-toolbar>
  <md-card-content>
    <!-- <form> -->
    <!-- <table style="width: 100%" cellspacing="0"><tr> -->
    <table style="width: 100%"><tr>
      <td><md-input placeholder="From" style="width: 100%"
        [(ngModel)]="reportParams.fromDate">
        <md-hint align="end">Date ('yyyy-MM-dd')</md-hint>
      </md-input></td>
      <td><md-input placeholder="To" style="width: 100%"
        [(ngModel)]="reportParams.toDate">
        <md-hint align="end">Date ('yyyy-MM-dd')</md-hint>
      </md-input></td>
    </tr></table>
  </md-card-content>
</md-card>
<md-card class="demo-card demo-basic">
  <md-toolbar color="accent">JIRA</md-toolbar>
  <md-card-content>
      <table style="width: 100%" cellspacing="0">
        <tr><td colspan="2">
          <md-input placeholder="Base URL" style="width: 100%"
          [(ngModel)]="reportParams.jiraParams.baseUrl">
          <md-hint align="end">Required</md-hint>
        </md-input>
      </td></tr><tr>
        <td>
          <md-input placeholder="Username"
          [(ngModel)]="reportParams.jiraParams.username">
          <md-hint align="end">Required</md-hint>
        </md-input>
      </td><td>
        <md-input placeholder="Password"
        [(ngModel)]="reportParams.jiraParams.password">
        <md-hint align="end">Required</md-hint>
      </md-input>
    </td></tr><tr><td colspan="2">
      <md-input placeholder="JIRA Query String" style="width: 100%"
      [(ngModel)]="reportParams.jiraParams.jiraQuery">
      <md-hint align="end">Required</md-hint>
    </md-input>
  </td></tr><tr><td>
    <md-input placeholder="{{reportParams.jiraParams.username}}"
    [(ngModel)]="reportParams.jiraParams.author">
    <md-hint align="start">Author's Username</md-hint>
    <md-hint align="end">(Optional)</md-hint>
  </md-input>
</td></tr>
</table>
<!-- </form> -->
</md-card-content>
</md-card>
